.app {
  display: flex;
  justify-items: center;
  background-color: #E5E5E5;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;

}

.header {
  text-align: center;
  padding: 24px;
  background-color: #4E6BD9;
  color: white;
}

.hero {
  padding:1rem 15vw;
}


.fileUploaderContainer {
  overflow: hidden;
  display: block;
  position: relative;
  color: #777777;
  padding: 8px;
  margin-bottom: 8px;
  border: 3px dashed #777777;
  border-radius: 8px;
  background-color: white;
}

.fileUploaderContainer [type=file] {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  min-height: 100%;
  min-width: 100%;
  font-size: 999px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  cursor: pointer;
}